body {
	background-color:red;
}

p {
	color:blue;
}

ul {
	background-color:black;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

li {
	float:left;
}

li a {
	display:block;
	color:white;
	text-align:center;
	padding:10%;
	
}

li a:hover {
	background-color:#111111;
}

